/* colors scheme
red    #F01B3F
blue   #00A9B5
yellow #FFCE00
grey   #DCDACD
nickel #716D63

*/

/*body*/
body{
	background-color: #F0F7EE;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	margin:0;
}
/*header*/
header{
	text-align: center;
    background: url(http://grethelcreations.com/Projects/pugipsum/pug.png);
    width: 100%;
    height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}



header:before{
  content: "";
  background: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 1;
}

header img {
	width: 25%;
	height: auto;
	padding-bottom: 10%;
}

h1{
	font-weight: 900;
	font-size: 14vh;
	color: #fff;
	font-family: 'Pacifico', cursive;
	z-index: 2;
	
}

@media screen and (max-width: 580px) {
  h1{
    font-size: 9vh;
  }
}
/*BTF*/
.wrapper{
	  text-align: center;
	  background-color: #e2e1d8;
	  padding: 10% 5%;
}


/*select button*/

.box select{
  background-color: #00a9b5;
  color:#fff;
  padding:10px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  margin-top: 16px;
}
/*bone button */
.bone{
  margin: 20px;
  position: relative;
  width: 150px;
  height: 64px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.c1, .c2, .c3, .c4{
  background:#F0F7EE;
  height: 40px;
  width: 40px;
  border: 5px solid #FFCE00;
  border-radius: 50%;
  position:absolute;
}
.c1{
  left: 0;
  top: 0;
}
.c2{
  right: 0;
  top: 0;
}
.c3{
 left: 0px;
    bottom: 0px;
    top: 30px;
}
.c4{
  top: 30px;
  bottom: 0;
  right: 0px;
}
.b1 {
  background:#F0F7EE;
  height: 30px;
  width: 120px;
  position:absolute;  
  left: 15px;
  top: 15px;
  color: #000;
}
.b2 {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 75px;
  height: 27px;
  line-height: 30px;
  border-top: 5px solid #FFCE00;
  border-bottom: 5px solid #FFCE00;
  text-align: center;
}

/*Checkbox*/
.card {
    width: 500px;
    margin: 50px auto;
    clear: both;
    display: block;
    padding: 0px 0px;
    background-color: #009BFF;
    border-radius: 4px;
}
.card::after {
    clear: both;
    display: block;
    content: "";
}
.card .checkbox-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align:center;
  padding: 40px 0px;
}
.card .circular-container {
  background-color:#0067FF;
}

.input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255,.6);
    font-weight: 300;
}




/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}




/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::after {
    border: solid #0067FF;
    border-width: 0 2px 2px 0;
}
.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}

/*php paragraph*/
.wrapper #paragraphs h2{
    font-family: 'Arimo', sans-serif;
    background: #fff;
    padding: 20px 50px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 45px;
    color: #F01B3F;
}
 p{
    font-family: 'Arimo', sans-serif;
    background: #fff;
    padding: 20px 50px;
    max-width: 600px;
    margin: 0 auto;
}



/*footer*/
footer{
    font-size: 83px;
    background-color: #F4CBC6;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 74px;
    width: 100%;
}

.icons{
    width: 100%;
    font-size: 83px;
    background-color: #716D63;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 62px 0;
    line-height: 74px;
}
.fas{
	padding: 1%;
}

.fa-dog:before {
    color: #F01B3F;
}
.fa-bone:before {
    color: #00A9B5;
}
.fa-paw:before {
    color: #FFCE00;
}
footer a{
    padding: 5px;
}